<div class="container container-header"> 
   {{ page.header }}
</div>
<nav{{ navbar_attributes }}>
  {% if container_navbar %}
  <div class="container">
  {% endif %}
   
    {% if page.primary_menu or page.header_form %}
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="CollapsingNavbar">
        {{ page.primary_menu }}
        {% if page.header_form %}
          <div class="form-inline navbar-form float-right">
            {{ page.header_form }}
          </div>
        {% endif %}
   </div>
    {% endif %}
    {% if sidebar_collapse %}
      <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
    {% endif %}
  {% if container_navbar %}
  </div>
  {% endif %}
</nav>
