.form-required::after{content:'';vertical-align:super;display:inline-block;background-image:url(/ampmp-2022/web/themes/contrib/bootstrap_barrio/images/required.svg);background-repeat:no-repeat;background-size:7px 7px;width:7px;height:7px;margin:0 0.3em;}.form-row>fieldset,.form-row>div{padding-right:5px;padding-left:5px;flex:0 1 auto;width:auto;max-width:none;}.form-row .form-actions{align-self:flex-end;}form .filter-wrapper{padding-left:0;padding-right:0;margin-left:1rem;margin-right:1rem;}form .form-type-textarea{margin-bottom:0;}
