header {
	.row-header-top {
		color: black; 

		strong.titulo {
			text-transform: uppercase;
			text-align: center !important;
		}
		i.fundada { text-align: center; }
	}

	.row-header-top.d-lg-flex {
		strong.titulo { font-size: 20px; }
	}

	.row-header-top.d-flex {
			strong.titulo { font-size: 17px; }
	}

}

.content-home {
	margin-bottom: 20px;
	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;

		iframe, object, embed {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
		}
	}
}

